<app-header></app-header>
<section class="blog-section">
    <div class="container">
        <section class="mb-2">
            <ul class="p-0 m-0">
                <a routerLink="/" style="text-decoration: none;"> <span style="color:
                        #6b6666;">Home</span> </a>
                <a routerLink="/info" style="text-decoration: none;"> <span
                        style="color: #6b6666;">/News/</span> </a>
                <a routerLink="/info/{{this.slug.slug}}" style="text-decoration:
                    none;"> <span style="color: #6b6666;">{{this.navigation}}</span>
                </a>
            </ul>
        </section>
        <div class="responsive-blog-search">
            <span class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input class="form-control" [(ngModel)]="userQuestion"
                    type="text" placeholder="Search the blog"
                    name="userQuestion" id="userQuestions" pInputText
                    (ngModelChange)="this.userQuestionUpdate.next($event)">
            </span>
            <div class="responsive-search-result" *ngIf="getAllBlog.length>0">
                <ul *ngFor="let data of this.getAllBlog">
                    <li (click)="routeOnSamePage('info/'+ data.slug)"
                        style="cursor: pointer; text-align: left;">{{data.title}}</li><hr>
                </ul>
            </div>
        </div>
        <div class="blog-calltoaction">
            <div class="blog">
                <!-- <div class="head-calltoaction" [ngStyle]="{'background-image': 'url(' + imageurl + 'blog_1.jpeg)'}">
                    <div class="shop-chemical">
                        <button>
                            <a (click)="routeOnSamePage('/shop')">Shop Chemicals</a>
                        </button>
                    </div>
                </div> -->
                <ng-container *ngFor="let items of getBlog">
                    <div class="blog-image">
                        <img src="{{items.data.image}}" alt="">
                    </div>
                    <h1>{{items.data.title}}</h1>
                    <div>
                        <h6>{{items.data.publish_date | date}} | in <a
                                (click)="getCategory(items.data.category)"
                                style="text-decoration: none; color: #000; cursor: pointer;"
                                data-bs-toggle="modal" data-bs-target="#search-result">{{items.data.category}}</a>
                        </h6>
                    </div><br>
                    <div class="modal fade" id="search-result"
                        data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" 
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        id="staticBackdropLabel">{{items.data.category}} - Search Results</h5>
                                    <button type="button" class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <ul *ngFor="let category_blog of getCategoryBlog">
                                        <li (click)="routeOnSamePage('info/'+ category_blog.slug)"
                                        style="cursor: pointer; text-align: left;" data-bs-dismiss="modal">{{category_blog.title}}</li><hr>
                                    </ul>
                                </div>
                                <!-- <div class="modal-footer">
                                    <button type="button" class="btn
                                        btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn
                                        btn-primary">Understood</button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="blog-text">
                        <div
                            [innerHTML]="this.__apiService.getSantizedData(items.data.description)"></div>
                    </div>
                    <div class="digital-links">
                        <ul>
                            <a
                                href="https://www.facebook.com/sharer.php?u=https://ecolink.com/info/what-are-the-reasons-for-water-treatment/&t=What%20are%20the%20Reasons%20for%20Water%20Treatment%3F"
                                target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a
                                href="https://twitter.com/share?text=What%20are%20the%20Reasons%20for%20Water%20Treatment%3F&url=https://ecolink.com/?p=25945"
                                target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a
                                href="https://api.whatsapp.com/send?text=https://ecolink.com/info/what-are-the-reasons-for-water-treatment/"
                                target="_blank">
                                <i class="fa fa-whatsapp"></i>
                            </a>
                            <a
                                href="https://pinterest.com/pin/create/button/?url=https%3A%2F%2Fecolink.com%2Finfo%2Fwhat-are-the-reasons-for-water-treatment%2F&description=What%20are%20the%20Reasons%20for%20Water%20Treatment%3F&media=https%3A%2F%2Fecolink.com%2Fwp-content%2Fuploads%2F2022%2F05%2F5.27.22-HEADER4-705x264.png"
                                target="_blank">
                                <i class="fa fa-pinterest"></i>
                            </a>
                            <a
                                href="https://linkedin.com/shareArticle?mini=true&title=What%20are%20the%20Reasons%20for%20Water%20Treatment%3F&url=https://ecolink.com/info/what-are-the-reasons-for-water-treatment/"
                                target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a
                                href="https://www.tumblr.com/share/link?url=https%3A%2F%2Fecolink.com%2Finfo%2Fwhat-are-the-reasons-for-water-treatment%2F&name=What%20are%20the%20Reasons%20for%20Water%20Treatment%3F&description=Water%20treatment%20helps%20keep%20the%20water%20safe%20for%20people%2C%20the%20environment%2C%20and%20industry%20use%20by%20removing%20harmful%20toxins%20and%20bacteria%20that%20may%20be%20lurking%20in%20the%20water.%C2%A0%20Safer%20Water%20for%20People%C2%A0%20People%20often%20don%E2%80%99t%20think%20about%20where%20the%20water%20they%20use%20comes%20from.%20The%20water%20must%20undergo%20an%20entire%20water%20treatment%20process%20for%20it%20to%20%5B%E2%80%A6%5D"
                                target="_blank">
                                <i class="fa fa-tumblr"></i>
                            </a>
                            <a
                                href="https://reddit.com/submit?url=https://ecolink.com/info/what-are-the-reasons-for-water-treatment/&title=What%20are%20the%20Reasons%20for%20Water%20Treatment%3F"
                                target="_blank">
                                <i class="fa fa-reddit"></i>
                            </a>
                            <a
                                href="mailto:?subject=What%20are%20the%20Reasons%20for%20Water%20Treatment%3F&body=https://ecolink.com/info/what-are-the-reasons-for-water-treatment/"
                                target="_blank">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </ul>
                    </div>
                </ng-container>
            </div>
            <div class="calltoactionshop">
                <div class="chemicalscalltoaction mb-3"
                    [ngStyle]="{'background-image': 'url(' + imageurl +
                    'blog_2.jpeg)'}">
                    <div class="chemical-div">
                        <button>
                            <a (click)="routeOnSamePage('/shop')">Shop Chemicals</a>
                        </button>
                    </div>
                </div>
                <div class="blog-search">
                    <span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input class="form-control" [(ngModel)]="userQuestion"
                            type="text" placeholder="Search the blog"
                            name="userQuestion" id="userQuestions" pInputText
                            (ngModelChange)="this.userQuestionUpdate.next($event)">
                    </span>
                </div>
                <div class="search-result" *ngIf="getAllBlog.length>0">
                    <ul *ngFor="let data of this.getAllBlog">
                        <li (click)="routeOnSamePage('info/'+ data.slug)"
                            style="cursor: pointer; text-align: left;">{{data.title.slice(0,80)}}</li><hr>
                    </ul>
                </div>

                <!-- <div class="ctasection" [ngStyle]="{'background-image': 'url(' + imageurl + 'blog_3.jpeg)'}">
                    <div class="innerctadiv">
                        <button>
                            <a (click)="routeOnSamePage('/shop')">Shop Chemicals</a>
                        </button>
                    </div>
                </div> -->
                <div class="inner_sidebar extralight-border">
                    <section id="text-5" class="widget clearfix widget_text">
                        <div class="textwidget">
                            <a class="shopButton2020" routerLink="/shop">SHOP<i
                                    class="fa fa-shopping-cart"></i></a>
                            <br>
                            <a class="requestButton2020"
                                (click)="routeOnSamePage('contact/request ')">REQUEST
                                A
                                SAMPLE<i class="fa fa-thumbs-up"
                                    aria-hidden="true"></i>
                            </a><br>
                            <a class="pdsButton2020"
                                (click)="routeOnSamePage('contact/support ')">REQUEST
                                PDS /
                                TDS<i class="fa fa-calculator"
                                    aria-hidden="true"></i>
                            </a><br>
                            <a class="contactButton2020"
                                (click)="routeOnSamePage('contact ')">CONTACT US<i
                                    class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                        </div>
                        <span class="seperator extralight-border"></span>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<app-trending-post></app-trending-post>
<app-footer></app-footer>